<h3>Recent chats:</h3>

<div>
  <% @chats.each do |chat| %>
    <%= link_to(chat_path(chat)) do %>
      <div>
        <div>
          <%= chat_image(chat) %>
        </div>

        <div>
          <strong> <%= "#{chat_name(chat)} (#{chat.messages.size})" %> </strong>

          <div>
            <small><%= chat_info(chat) %></small>
          </div>

          <div>
            <small>Last Message at: <%= chat_last_message_at(chat) %></small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
