<h4>Recent chats:</h4>

<div class="row justify-content-start">
  <% @chats.each do |chat| %>
    <%= link_to(chat_path(chat), class: 'col-4') do %>
      <div class="row">
        <div class="col-4">
          <%= chat_image(chat) %>
        </div>

        <div class="col">
          <strong> <%= "#{chat_name(chat)} (#{chat.messages.size})" %> </strong>

          <div>
            <small><%= chat_info(chat) %></small>
          </div>

          <div>
            <small>Last Message at: <%= chat_last_message_at(chat) %></small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
