<div><%= link_to('Back', chats_path) %></div>

<div class="chat-container">
  <div>Talking with <strong><%= chat_name(@chat) %></strong></div>

  <div class="messages">
    <% @chat.messages.each do |message| %>
      <div class="message <%= 'me' if message.creator == current_user%>">
        <small><%= message.creator.email %> says:</small>
        <div><%= message.text %></div>
        <small><%= message.created_at %></small>
      </div>
    <% end %>
  </div>

  <div>
    <%= render partial: 'messages/form', locals: { chat_id: @chat.id } %>
  </div>
</div>
