<div><%= link_to('Back', chats_path) %></div>

<div class="chat-container">
  <div>Talking with <strong><%= chat_name(@chat) %></strong></div>

  <div class="messages">
    <%= turbo_stream_from @chat, :messages %>

    <%= turbo_frame_tag 'messages' do %>
      <%= render @chat.messages %>
    <% end %>
  </div>

  <div>
    <%= render partial: 'messages/form', locals: { chat_id: @chat.id } %>
  </div>
</div>
