<div>
  <div>
    <div>
      <%= link_to(chats_path) do %>
        <i class="icon mdi mdi-arrow-left"></i>
      <% end %>
    </div>

    <div>
      Talking with <strong><%= chat_name(@chat) %></strong>
    </div>
  </div>

  <div>
    <%= turbo_stream_from @chat, :messages %>

    <%= turbo_frame_tag 'messages' do %>
      <%= render @chat.messages %>
    <% end %>
  </div>

  <div>
    <%= render partial: 'messages/form', locals: { chat_id: @chat.id } %>
  </div>
</div>
