<div class="chat-container">
  <div class="columns is-mobile chat-header">
    <div class="column is-1">
      <%= link_to(chats_path, class: 'button is-white') do %>
        <i class="icon mdi mdi-arrow-left"></i>
      <% end %>
    </div>

    <div class="column is-11">
      Talking with <strong><%= chat_name(@chat) %></strong>
    </div>
  </div>

  <div class="messages">
    <%= turbo_stream_from @chat, :messages %>

    <%= turbo_frame_tag 'messages' do %>
      <%= render @chat.messages %>
    <% end %>
  </div>

  <div class="message-form">
    <%= render partial: 'messages/form', locals: { chat_id: @chat.id } %>
  </div>
</div>
