<!DOCTYPE html>
<html>
  <head>
    <title>WiredChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css" data-turbo-track="reload">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/menu' %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
